@use "@/shared/styles/mixins";

.protectedLayout {
  @include mixins.full-layout();

  &__header {
    height: 60px;
  }

  &__content {
    margin: 0 auto;
    width: var(--container-max-width);
  }
}
