.header {
  align-items: center;
  background-color: #fff;
  display: grid;
  gap: 24px;
  grid-template-columns: auto 1fr auto;
  height: 100%;
  justify-content: center;

  &__wrapper {
    height: 100%;
    margin: 0 auto;
    width: var(--container-max-width);
  }

  &__logo {
    display: flex;
  }

  &__actions {
    display: flex;
  }

  &__nav {
    display: flex;
    justify-content: center;
  }
}
